body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.blue {
    color: #337ab7;
    font-weight: bold;
}

.red {
    color: #d43f3a;
    font-weight: bold;
}