<template name="game">
  <div class="row">
    <div class="col-lg-12">

      <h4>Game {{gameNum}} (out of {{numGames}})</h4>

      {{#if playing}}
      <p>Step {{step}} (out of {{totalSteps}})</p>
      <p>Click either the <span class="red">Red</span> action button or <span class="blue">Blue</span> action button below to make your choice for this step. The payoff that each action received on the previous step will be shown above its button, and the payoff that you received on the previous step is shown to the right.</p>
      {{/if}}
      <table class="table">
	<thead>
        <tr>
	  <td></td>
          <td><strong>Red Payoff</strong></td>
          <td><strong>Blue Payoff</strong></td>
          <td><strong>Your Payoff</strong></td>
        </tr>
	</thead>
	<tbody>
        <tr>
	  <td><strong>Previous Step</strong></td>
          <td>{{results.e1}}</td>
          <td>{{results.e2}}</td>
          <td>{{results.payoff}}</td>
        </tr>
        <tr>
	  <td><strong>Choose</strong></td>
          <td><button type="button" class="btn btn-danger predict {{#unless playing}} disabled {{/unless}}" value="0">Red Action</button>
	  </td>
          <td><button type="button" class="btn btn-primary predict {{#unless playing}} disabled {{/unless}}" value="1">Blue Action</button>
	  </td>
          <td></td>
        </tr>
	</tbody>
      </table>

      {{#unless playing}}

      {{#if done}} <!-- ready to submit -->
      <p>You have completed the experiment.</p>
      {{> submit}}
      
      {{else}}
      <button type="button" class="btn btn-default next">Next Sequence</button>
      {{/if}}
      {{/unless}}
    </div>
  </div>
</template>
