<template name="instructions">
<h4>Welcome.</h4>
<p>In this HIT you will play a sequence of 10 games. Each game consists of 100 rounds. In each round, you must choose either the <span class="red">Red</span> action or the <span class="blue">Blue</span> action. After you make your choice, the payoff of each action will be revealed. The payoff will either be 0 points or 1 point. You will receive the payoff of the action that you chose. Then the next round will begin, and you must make another choice.</p>

<p>Your goal is to accumulate as many points as possible. We will convert your score to dollars at the rate of 2 points = 1 cent. The amount you earn will be given to you as the bonus for the HIT. Regardless of the decisions you make, you will earn a base rate of 25 cents for completing the HIT. Note that you will only receive a bonus if you complete all 10 games.</p>

{{#if currentUser}}
<button type="button" class="btn btn-default game">Begin Experiment</button>
{{else}}
Please accept the HIT to continue.
{{/if}}
</template>
