<template name="instructions">
<h4>Welcome.</h4>
<p>In this experiment you will play a sequence of games. Each game consists of multiple steps. In each step, you must choose between one of two "experts." After you make your choice, one of the experts will receive a point, and the other will not. If you chose the expert who received a point, you will receive a point as well. After this, the next step will begin, and you must make another choice. Your goal is to accumulate as many points as possible.</p>
<button type="button" class="btn btn-default game">Begin Game</button>
</template>
