<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Prediction Experiment</title>
</head>

<template name="wrapper">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
	<h3 class="text-muted">Prediction Experiment</h3>
	{{#if demo}}
	{{> loginButtons}}
	{{/if}}
      </div>
    </div>
    <div class="row">
      {{#if showStats}}
      <div class="col-md-9">
	{{> main}}
      </div>
      <div class="col-md-3">
	{{> stats}}
      </div>
      {{else}}
      <div class="col-md-12">
	{{> main}}
      </div>
      {{/if}}
    </div>
  </div>
</template>

<template name="main">
  {{> Template.dynamic template=active}}
</template>

<template name="loggedout">
  {{#if demo}}
  Please login or signup using the link above.
  {{else}}
  {{>instructions}}
  {{/if}}
</template>

<template name="loading">
</template>
