<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sequence Prediction Experiment</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<template name="wrapper">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
	<h3 class="text-muted">Sequence Prediction Experiment</h3>
	{{> loginButtons}}
      </div>
    </div>
    <div class="row">
      {{#if showStats}}
      <div class="col-md-9">
	{{> main}}
      </div>
      <div class="col-md-3">
	{{> stats}}
      </div>
      {{else}}
      <div class="col-md-12">
	{{> main}}
      </div>
      {{/if}}
    </div>
  </div>
</template>

<template name="main">
  {{> Template.dynamic template=active}}
</template>

<template name="loggedout">
  Please login or signup using the link above.
</template>

<template name="loading">
</template>
